#detalle-evento {
  position: relative;
  color: white !important;
}

#detalle-evento::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.63);
}

.detail-content {
  position: relative;
  color: var(--black);
  padding: 150px !important;
}

video {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.detail-img {
  min-width: 380px;
}

.btn-primary {
  font-weight: bold !important;
  color: white !important;
  border-color: var(--primary) !important;
  background-color: var(--primary) !important;
}

.btn-primary:hover {
  font-weight: bold !important;
  color: white !important;
  border-color: #92794b !important;
  background-color: #92794b !important;
}

@media only screen and (max-width: 1200px) {
  .detail-content {
    padding: 80px !important;
  }
}

@media only screen and (max-width: 600px) {
  .detail-img {
    min-width: 250px;
  }
}

.detail-content-text {
  width: 25%;
}

@media only screen and (max-width: 1200px) {
  .detail-content-text {
    width: 100%;
  }
}
