#registro {
  position: relative;
  z-index: -1;
  background-image: url("../img/Screenshot_20230509_023503.png") !important;
}

@media only screen and (max-width: 500px) {
  .img-register {
    width: 300px !important;
  }
}
