:root {
  --primary: #b09259;
  --black: #212529;
  --coffe-white: #ebdfc7;
  --green: #ccd5ae;
  --green-b: #c0c9a2;
}

body {
  font-family: "Quicksand", sans-serif !important;
  color: var(--primary) !important;
  font-size: 20px !important;
}

.title {
  font-size: 60px;
}

.sub-title {
  font-size: 38px;
}

.sub-title-min {
  font-size: 28px;
}

.bold {
  font-weight: bold;
}

.background {
  /* position: relative; */
  position: absolute;
  z-index: -2;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.25) 0%,
      rgba(0, 0, 0, 0.25) 100%
    ),
    url("../img/a896d9_93b419391c9e4602bfda1b075a549cd5~mv2_d_6712_5552_s_4_2.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

#mainNav {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease;
  font-weight: bold;
  font-size: 17px !important;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
  color: var(--primary) !important;
}

@media (min-width: 992px) {
  #mainNav {
    box-shadow: none;
    background-color: transparent;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    color: white;
    padding: 0 1rem;
  }
  #mainNav .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
  }
  #mainNav .navbar-nav .nav-item:last-child .nav-link {
    padding-right: 0;
  }
  #mainNav.navbar-shrink {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
    color: var(--black);
  }
  #mainNav.navbar-shrink .navbar-nav .nav-item .nav-link:hover {
    color: var(--primary);
  }
}

.home-main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 495px !important;
  height: 680px;
}

.hide {
  display: none;
}

.bg-home {
  position: absolute;
  width: 116%;
  height: 90%;
  z-index: -1;
  top: 30px;
  left: -40px;
}

@media only screen and (max-width: 600px) {
  .home-main {
    position: relative;
    max-width: 400px !important;
  }
  .bg-home {
    width: 116%;
    left: -30px;
  }
}

@media only screen and (max-width: 480px) {
  .home-main {
    position: relative;
    max-width: 300px !important;
  }
  .bg-home {
    width: 116%;
    left: -25px;
  }
}
