iframe {
    width: 100%;
    max-width: 950px !important;
    height: 100vh;
    max-height: 400px !important;
}

.content-ubication {
    width: 25% !important;
}

@media only screen and (max-width: 1200px) {
    .content-ubication {
        width: 100% !important;
    }
}
